doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Mashape Todo App
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu')
    link(rel='stylesheet', href='/css/styles.css')
  body(ng-app='Mashape-Todo')
    .app-wrapper
      .app-container
        include partials/header
        include partials/sidebar
        .content(ng-view)

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/js/scripts.js')

    if (environment == 'development')
      script(src='//localhost:35729/livereload.js')