ul.todos-list
  li.todo-item(ng-repeat='todo in todos | orderBy:"-created"')
    .todo-item-toggle
      input(type='checkbox', ng-model='todo.done', ng-change='todo.save()', id='todo-{{ todo._id }}')
      label(for='todo-{{ todo._id }}')
    .todo-item-content(ng-class='{ editing: todo == editedTodo }')
      a.icon-cog.todo-item-edit(href='#', title='Edit', hm-tap='editTodo(todo)', ng-hide='todo == editedTodo')
      h4.todo-item-title {{ todo.text }}
      .todo-item-body {{ todo.text }}
      form.todo-editor-form(ng-submit='doneEditing(todo)')
        .form-line
          input.form-control(type='text', ng-model='todo.text', ng-trim='true', todo-focus="todo == editedTodo")
        .form-line
          textarea.form-control(rows='6', ng-model='todo.text', ng-trim='true')
        .form-line.form-buttons
          button.btn.btn-default(ng-submit='doneEditing(todo)') Discard
          button.btn.btn-success(ng-submit='doneEditing(todo)') Save

  li.todo-item.todo-blank-item
    .todo-blank-item-icon
      i.icon-cancel
    | Wohoo! You are done. Enjoy the rest of your day!




//.todo-app
//  header.app-header
//    h1 Mashape Todo App
//    .search-block
//      input(type='search', name='s', ng-model='query', results="5")
//
//  section.app-content
//    ul.todo-list
//      li.todo-list-item
//        form(ng-submit='addTodo(newTodo)')
//          input(type='text', ng-model='newTodo', placeholder='Write new todo and press enter key', autofocus)
//      li.todo-list-item(ng-repeat='todo in todos | orderBy:"-created"', ng-class='{ done: todo.done, editing: todo == editedTodo }')
//        .todo-toggle
//          input(type='checkbox', ng-model='todo.done', ng-change='todo.save()')
//        .todo-text(hm-tap='editTodo(todo)') {{ todo.text }}
//
//        form.todo-editor(ng-submit='doneEditing(todo)')
//          input(type='text', ng-model='todo.text', ng-change='editTodo(todo)', ng-trim='true', ng-blur='doneEditing(todo)', todo-focus="todo == editedTodo")
//
//        button.todo-destroy(hm-tap='destroyTodo(todo)') &times;
//      li.todo-list-item.todo-pagination(ng-show='todos.length && todos.total > 1')
//        button.prev(href='#' hm-tap='changePage(-1)', ng-hide='page == 1') &larr;
//        button.next(href='#' hm-tap='changePage(1)', ng-hide='page == todos.total') &rarr;
//        .page-count page {{ page }} of {{ todos.total }}
//
//  footer.app-footer
