ul.todos-list(ng-class='{ empty: !todos.length || !filteredTodos.length }')
  li.todo-item.search-exculde-animation(ng-repeat='todo in filteredTodos = (todos | filter: {title:query, body:query} | orderBy: "created":true)')
    .todo-item-toggle
      input(type='checkbox', ng-model='todo.done', ng-change='todo.save()', id='todo-{{ todo._id }}')
      label(for='todo-{{ todo._id }}')

    .todo-item-content(ng-class='{ editing: todo.editing }')
      .todo-item-edit.dropdown(ng-hide='todo.editing', dropdown, dropdown-toggle-class='open')
        a.icon-cog(href='#', title='Edit', data-toggle='dropdown')

        .dropdown-content
          ul.dropdown-list
            li.dropdown-list-item
              a(href='#', ng-click='editTodo(todo)')
                i.icon-pencil
                | Edit
            li.dropdown-list-item
              a(href='#', ng-click='destroyTodo(todo)')
                i.icon-trash
                | Remove

      h4.todo-item-title {{ todo.title }}
      .todo-item-body {{ todo.body }}

      form.todo-editor-form(ng-submit='updateTodo(todo)')
        .form-line
          input.form-control(type='text', ng-model='todo.title', ng-trim='true')
        .form-line
          textarea.form-control(rows='6', ng-model='todo.body', ng-trim='true')
        .form-line.form-buttons
          a.btn.btn-default(href='#', ng-click='resetTodo(todo)') Discard
          button.btn.btn-success Save

  li.todo-item.todo-blank-item
    .todo-blank-item-icon
      i.icon-cancel
    .todo-blank-item-message(ng-show='todos.length && filteredTodos.length') Wohoo! You are done. Enjoy the rest of your day!
    .todo-blank-item-message(ng-show='!todos.length') You got no tasks for today. Take a day off or add new one
    .todo-blank-item-message(ng-show='todos.length && !filteredTodos.length') Nothing found