.todo-app
  header.app-header
    h1 Mashape Todo App
    .search-block
      input(type='search', name='s', ng-model='query', results="5")

  section.app-content
    ul.todo-list
      li.todo-list-item
        form(ng-submit='addTodo(newTodo)')
          input(type='text', ng-model='newTodo', placeholder='Write new todo and press enter key', autofocus)
      li.todo-list-item(ng-repeat='todo in todos | orderBy:"-created"', ng-class='{ done: todo.done, editing: todo == editedTodo }')
        .todo-toggle
          input(type='checkbox', ng-model='todo.done', ng-change='todo.save()')
        .todo-text(ng-dblclick='editTodo(todo)') {{ todo.text }}

        form.todo-editor(ng-submit='doneEditing(todo)')
          input(type='text', ng-model='todo.text', ng-change='editTodo(todo)', ng-trim='true', ng-blur='doneEditing(todo)', todo-focus="todo == editedTodo")

        button.todo-destroy(ng-click='destroyTodo(todo)') &times;
      li.todo-list-item.todo-pagination(ng-show='todos.length && todos.total > 1')
        button.prev(href='#' ng-click='changePage(-1)', ng-hide='page == 1') &#10094;
        button.next(href='#' ng-click='changePage(1)', ng-hide='page == todos.total') &#10095;
        .page-count page {{ page }} of {{ todos.total }}

  footer.app-footer

.credits
  p Double click to edit a todo
  p
    | Test task for
    =' '
    a(href='http://www.mashape.com') Mashape
    | . Author:
    =' '
    a(href='http://rainum.me') Vazha Omanashvili
