header.header(ng-controller='HeaderCtrl')
  .header-search-form
    form(hide-on-route='/settings')
      i.icon-search
      input(type='text', ng-model='query', placeholder='Search for particular task')