aside.sidebar
  nav.sidebar-nav
    ul
      li
        a(href='/today')
          i.icon-calendar
          | Today
      li
        a(href='/Week')
          i.icon-calendar
          | Week
      li
        a(href='/all-time')
          i.icon-inbox
          | All time
      li
        a(href='/settings')
          i.icon-cog
          | Settings
      li.add-new
        a(href='/add-new')
          i.icon-plus-circled
          | Add new