aside.sidebar(ng-controller='SidebarCtrl')
  nav.sidebar-nav
    ul
      li
        a(href='/')
          i.icon-inbox
          | Tasks
      li
        a(href='/settings')
          i.icon-cog
          | Settings
      li.add-new.dropdown.right(dropdown, dropdown-toggle-class='open')
        a(href='#')
          i.icon-plus-circled
          | Add new
        .dropdown-content
          form(ng-submit='addTodo()')
            .form-line
              input.form-control(type='text', ng-model='newTodo.title', ng-trim='true', placeholder='Type your title here')
            .form-line
              textarea.form-control(rows='6', ng-model='newTodo.body', ng-trim='true')
            .form-line.form-buttons
              a.btn.btn-default(href='#', ng-click='reset()') Discard
              button.btn.btn-success Save
