.container
  width 40%
  margin 0 auto
  min-width 320px

.credits
  text-align center
  margin 40px 0
  font-size .9em
  color #dd

  a
    color #dd

.todo-app
  position relative
  padding 40px 0

.app-header
.app-content
  position relative
  z-index 2

.app-header
  text-align center

  .search-block
    padding 10px
    background linear-gradient(to bottom, #eee, #999)

    input
      width 100%
      line-height 1.4em
      border-radius 50px
      border 1px solid #9d9d9d
      padding 0 5px
      box-sizing border-box
      -webkit-appearance textfield

  h1
    color #fff
    font-weight 500
    margin 0
    font-size 1.5em
    line-height 2.5em
    text-shadow 0 -1px #000
    background linear-gradient(to bottom, #55, #33)
    border 1px solid #33
    border-radius 2px 2px 0 0

.app-content
  box-shadow 0 2px 6px 0 rgba(#000, .2), 0 25px 50px 0 rgba(#000, .15)

  &:before
    content ''
    border-left 1px solid #f5d6d6
    border-right 1px solid #f5d6d6
    width 2px
    position absolute
    top 0
    left 48px
    height 100%

.todo-list
  list-style none
  margin 0 auto
  padding 0
  background #f7f7f7

.todo-list-item
  position relative
  user-select none
  line-height 3em
  padding-left 58px
  border-bottom 1px dotted #ccc

  &.done
    color #bb
    text-decoration line-through

  &:last-child
    border 0 none

  input[type='text']
    width 100%
    border 0 none
    background #f7f7f7
    padding 0 45px 0 0
    margin 0

  .todo-editor
    display none

  &.editing
    .todo-text
      display none

    .todo-editor
      display block

.todo-toggle
  position absolute
  left 0
  top 0
  height 100%
  text-align center
  width 48px

.todo-text
  user-select none
  display block
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  padding-right 45px

.todo-destroy
  position absolute
  font-weight bold
  top 0
  right 10px
  bottom 0
  width 48px
  height 48px
  font-size 22px
  color #bb
  transition all 0.2s

  &:hover
    color #a88a8a
    text-shadow 0 0 1px #000, 0 0 10px rgba(199, 107, 107, 0.8)
    transform scale(1.3)

.app-footer
  color #d9d9d9
  position absolute
  right 0
  bottom -9px
  left 0
  z-index 1
  text-align center

  &:before
    content ''
    position absolute
    right 0
    bottom 49px
    left 0
    height 50px
    z-index -1
    box-shadow 0 1px 1px rgba(#000, 0.3), 0 6px 0 -2px rgba(#fff, 0.8), 0 7px 1px -2px rgba(#000, 0.3), 0 12px 0 -4px rgba(#fff, 0.8), 0 13px 1px -4px rgba(#000, 0.3), 0 16px 0 -6px rgba(#fff, 0.8), 0 17px 1px -6px rgba(#000, 0.3)

.todo-pagination
  text-align center
  position relative
  font-size .9em
  color #bb

  .page-count
    margin 0 40px

  button
    color #bb
    width 30px
    text-decoration none
    padding-right 10px
    font-size 1.6em
    transition all 0.2s

    &:hover
      color #99
      text-shadow 0 0 1px #000, 0 0 10px rgba(#99, 0.5)
      transform scale(1.3)

    &.prev
      float left

    &.next
      float right


.ngProgressLiteBar
  background yellow
  height 3px

.ngProgressLite
  .ngProgressLiteBarShadow
    box-shadow 0 0 10px yellow, 0 0 5px yellow