html
  height 100%

html
body
  min-height 100%

body
  font 13px / 1.4 'Ubuntu', Helvetica, Arial, sans-serif
  background body-bg
  color base-font-color

*
  box-sizing border-box
  outline 0 none

.app-wrapper
  min-width 600px
  min-height 100%
  position relative

.app-container
  position relative
  min-height 660px

.content
  padding header-height + 39 23px 23px sidebar-width + 23