html
  height 100%

html
body
  min-height 100%

body
  font 13px / 1.4 'Ubuntu', Helvetica, Arial, sans-serif
  background #f0f3f5

*
  box-sizing border-box
  outline 0 none

button
  background transparent
  border 0 none
  padding 0
  margin 0

.app-wrapper
  min-width 996px
  min-height 100%
  position relative

.app-container
  position relative
  min-height 660px

.content
  padding header-height + 39 0 0 sidebar-width + 23