html
  height 100%

html
body
  min-height 100%

body
  font 16px / 1.4 Helvetica, Arial, sans-serif
  background-color #269
  background-image linear-gradient(rgba(#fff, .2) 1px, transparent 1px), linear-gradient(90deg, rgba(#fff, .2) 1px, transparent 1px), linear-gradient(rgba(#fff, .1) 1px, transparent 1px), linear-gradient(90deg, rgba(#fff, .1) 1px, transparent 1px)
  background-size 100px 100px, 100px 100px, 20px 20px, 20px 20px
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px

*
  box-sizing border-box
  outline 0 none

button
  background transparent
  border 0 none
  padding 0
  margin 0