.btn
  background transparent
  border 0 none
  margin 0
  display inline-block
  padding 5px
  min-width 110px
  text-align center
  border-radius 2px
  text-transform uppercase
  text-decoration none

.btn-default
  border 1px solid #bfcdd8
  color base-font-color
  background #f2f5f6

  &:hover
    background #f2f5f6 - 3%

  &:active
    background #f2f5f6 - 7%
    border-color #bfcdd8 - 7%

.btn-success
  border 0 none
  padding 6px
  color #fff
  text-shadow 0 1px 1px rgba(#000, .1)
  background linear-gradient(to bottom, #0ac4f1, #08b6ed)

  &:hover
    background #0ac4f1 - 3%

  &:active
    background #08b6ed - 7%